<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smsproject.app.mastergame.com.smsproject">
    
    
    
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    
    
    <application
        android:name=".G"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".MenuActivity">

        </activity>

        <activity android:name=".Cooler_Activity">
            <intent-filter>
                <action android:name="android.intent.action.COOLER_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Hood_Activity">
            <intent-filter>
                <action android:name="android.intent.action.HOOD_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Parde_Activity">
            <intent-filter>
                <action android:name="android.intent.action.PARDE_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".Lamp_Activity">
            <intent-filter>
                <action android:name="android.intent.action.LAMP_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".Ipone_Activity">
            <intent-filter>
                <action android:name="android.intent.action.IPONE_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Dama_Activity">
            <intent-filter>
                <action android:name="android.intent.action.DAMA_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Gaz_Activity">
            <intent-filter>
                <action android:name="android.intent.action.GAZ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Priz_Activity">
            <intent-filter>
                <action android:name="android.intent.action.PRIZ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".AboutUsActivity">
            <intent-filter>
                <action android:name="android.intent.action.ABOUTUSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SmsDetail">
            <intent-filter>
                <action android:name="android.intent.action.SMSDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".SmsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>